# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Env
.env
!.env.example

# Django
db.sqlite3
staticfiles/

# Next.js
services/nextjs/node_modules/
services/nextjs/.next/
services/nextjs/out/

# OS
.DS_Store
